html{user-select: none;height:100%;}
body{user-select: none;height:auto}

  ::-webkit-scrollbar{
   border-radius:4px;    }

   ::-webkit-scrollbar-track-piece{
   background:#ddd;  } 

   ::-webkit-scrollbar-thumb{ 
   background:#a9a9a9;
   border-radius:5px;  
   height:11%;
   width:3%}


 .page{
    background:#f7f7f7;
 }

 .back-color-header{
    background:#2b2d42;
 }

   .navbar-brand{
    font-weight: bold;
    font-family:Sitka Small;
    text-transform: capitalize;}
    .nav-item{text-transform: capitalize;}
    .nav-link{cursor: pointer;}
    
.cor{
  color: rgb(124 124 125);
}
    .list-style{ 
    list-style: none;
    color: rgb(124 124 125);}

   .menu-hidde{
    box-shadow:inset 0px 0px 4px 0px #b9b7b7;
    position: absolute;
    background:#eff5f7; 
    padding: 0 0 0 0;
    margin: 0 0 0 6%;
    border-radius: 5px;}
 
    .dropdown-item1{
    border-radius: 5px;
    text-transform: capitalize;
    color: #0000007a;}

    .dropdown-item1:hover{color: #2b2d42;}
    .form-inline{margin: 24px 0 0 63px;}
    .form-group{position: static;right: 0;}
    .shadow-none{background:transparent;border:none;color:#919191;}
    .shadow-none:active{background:transparent;color:#919191;}
    .shadow-none:focus{background:transparent;color:#919191;}
    .shadow-none::-webkit-input-placeholder{background:transparent;color:#919191;}

    .circle-green{
    padding: 2.5% 0%;
        width: 5%;background: #d60b0b;
    border-radius: 1000px 1000px 1000px 1000px;
    bottom: 11px;
    right: 8px;}
 

    .image{

    margin: -377px 0 0 0;
    right: 0;
    width: 33%;
    border-radius:111px 0 0 180px ;}

    .footer{
    background:#eeeeee;
    padding:10.1px 0;
    border-radius: 100px 0px 0px 0px;
    bottom:0;}

 
    .copyright{font-size: 1em;}

 #flex{
        display: inline-flex;
    }
   
    @media (max-width: 991px){
 
    html{user-select: none;height:auto;}
    .collapse-block{
    background:#ececec;opacity: 0;
    width: 100%;
    color:red;
    border-radius: 5px;position: absolute;
    margin: 0 0 0 -16px;
    padding:4px 13px;
    visibility:hidden;}


    #collapse1:checked ~ .collapse-block{visibility: visible;opacity: 1;transition: 1s;position: static;}
    #collapse2:checked ~ .collapse-block{visibility: visible;opacity: 1;transition: 1s;position: static;}
    .menu-hidde{position: static;}
    .circle-green{position: fixed;} 
    .container-image{display: none;}
    footer.footer{margin:22.4% 0 0 0;position:static;}} 


  /* estilização da pagina de login*/
   
    .login-section{
    width: 35%;
    margin:11% auto;
    border-radius: 7px;
    background-image: linear-gradient(150deg ,#fff 90%,#ef233c 10%);
    box-shadow:0 0 6px 2px #84818175;
    padding: 26px 0 27px 0;}

    .title{
    font-size:1.6em;
    background-image: linear-gradient(45deg ,#ef233c 48%,#2b2d42 52%);
    -webkit-background-clip: text;
    color: transparent;}

    .button{background-color: #2b2d42}

    @media (max-width:600px){.login-section{width: 100%;}}
/* fim*/



/*estilização da pagina de matricula */
    .section-unique-page{border: 1px solid transparent;
    background:#f7f7f7;}
    .title-pricipal{padding: 0 0 0 21px;font-size: 1.5em}
    .title-secondary{padding: 0 0 0 1px;font-size: 1em}
    .header-legend{width: 220px;margin: 0 0 0 3%;padding: 0 9px}
.fieldset_total{
    background:#f7f7f7;border-bottom: 1px solid transparent;
}
.mr{
    margin: 25px 0 30px 15px;
}
.btn-confirm3{
  border-radius: 100px;
  margin: 1px 0 0 0;
}
.btn_second3{
  border-radius: 100px;
}

.bt_cancelar{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 100px;
}
     .body-second-cadastro{
     top: 0;
     left: 0;visibility: hidden;opacity: 0;
     background:rgb(0 0 0 / 73%);}

     .body-second-cadastro1{
     top: 0;
     left: 0;visibility: hidden;opacity: 0;
     background: rgb(0 0 0 / 73%)}

     .article-cadastro{
     overflow-x:hidden !important;
     overflow-y:visible;
     -webkit-overflow-scrolling:touch;
     background-image: linear-gradient(150deg ,#fff 95%,#ef233c 5%);
     width: 60%;
     height: 65%;
     margin: 0 auto;
     border-radius: 11px;
   }


.button-contacto{border-radius: 5px 0 0 5px;
border:1px solid rgb(199 199 211);
border-right: none;
} 
.button-contacto:not(:disabled):not(.disabled) {
  cursor:auto;
}


.contacto:not(:disabled):not(.disabled) {
  cursor:auto;
}

.border-contacto{border-radius: 0 5px 5px 0;
  border:1px solid rgb(199 199 211);
}

     .btn-confirm{
     padding: 9px auto;
     border-radius: 5%;position: absolute;right:110px;
     background: #007bff;
     border-radius: 100px;
    margin:-20px 0 0 0; }

     .btn_second{
     border:1px solid rgba(0,0,0,.2);
     color: rgba(0,0,0,.6);
    margin:-20px 0 0 0;
     border-radius: 100px; position: absolute;right: 10px;}


/* fim */



/* estilização da pagina de cartão de estudante*/
.body{
    width: 500px;
    margin: 22px 0 0 4%;
    border-radius: 8px;
    padding: 0px 11px;}

    .bg-gradient1{
    background-image:linear-gradient(to right,#d83a56,#ff616d);}
    
    .img-logo-cartao{
    margin:14px 0 0 18%;
    border-radius: 0px 0px 35px 35px;}

    .nome-escola{ 
    width: 259px;}

    .cartao_estudante{
    right: 3px;
    top: 11px;width:181px;}
    
    .img_cartao{
        top: 50px;
        right: 19px
    }

    .size{font-size: .9em}
    .size2{font-size: 1.1em}
    .font-size{
        font-size: .8em;
    }
    .size_h2{
        font-size: 1.7em
    }
    .size1{
      font-size: 1em;
    }

    .svg{
      margin: -4px 0 0 0;
    }
/* fim*/
 
/* estilização da pagina de lista de estudante */
 .texto-color{
    color:#868686;
 }

 .border-info1{
    border-radius: 9px;border-left: 4px solid #17A2B8
 }
 .border-primary1{
    border-radius: 9px;border-left: 4px solid #007bff
 }

.border-warning1{
    border-radius: 9px;border-left: 4px solid #f6c23e
}
 .border-red1{
    border-radius: 9px;
    border-left: 4px solid #e74a3b;
 } 
 .border-green1{
    border-radius: 9px;
    border-left: 4px solid #28a745;
 }

 .outline{
    padding:0px auto;outline: none;color: rgb(124 124 125);
 }



/* fim*/

/* estilização da página de pesquisa de uniforme*/

.lista-estudante{padding: 10px 18px;}
/* fim*/

/* estilização da página de lista de estudnte*/

  .l:hover{
    background: #ece8e8e3;
    border-radius: 11px;
  }

  /* fim*/



  /* estilização da página de pamento de uniforme*/
 

.bt1{
  height: 5%;width: 59px;
}
/*fim*/

.contato{
  cursor: auto;
}
.contato:not(:disabled):not(.disabled) {
  cursor:auto;
}

.wid_div_input{
  width: 65%;border: 1px solid rgba(0,0,0,.1);border-radius: 100px
}
.body-perfil{
    background:#e8e7e7;width: 70%;margin: auto;
}
  @media (max-width: 991px){
    .body-perfil{width:100%;
}
  }

  .mr_dash{margin:30% auto}

  .scrol-bar{
     overflow-x:hidden !important;
     overflow-y:visible;
     -webkit-overflow-scrolling:touch;
  }

    .scrol-bar2{overflow-x: scroll;
     -webkit-overflow-scrolling:touch;
  }

  